body {
  background: #13293d;
  color: white;
  text-align: center;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  background-color: #048ba8;
  border-radius: 20px;
  min-height: 50%;
  height: fit-content;
}

section span {
  font-weight: 700;
}

section p {
  margin-bottom: 0px;
}

section ul {
  list-style: none;
  padding-left: 15px;
  padding-top: 10px;
}

section li {
  text-align: left;
}

section h5 {
  margin-top: 10px;
}

section div ul {
  background-color: #0c084c;
  width: fit-content;
  margin: 5px auto 30px;
  padding: 3px 11px 6px 11px;
  /* border: 6px solid black; */
  border-radius: 15px;
}

/* Specific styles */

.projects {
  height: 50%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projects div {
  border-style: solid;
  border-color: #0c084c;
  border-width: 0px 0px 3px;
  width: 75%;
  margin: auto;
  padding-top: 3px;
}

.projects div:last-child {
  border-style: none;
}

.projects::-webkit-scrollbar {
  display: none;
}

.projects p {
  padding: 2px 15px;
}

.progress {
  margin-right: 15px;
  margin-top: 2px;
  height: 12px;
}

.most-exp {
  background-color: #00c3ff;
}

.experienced {
  background-color: gold;
}

.intermediate {
  background-color: silver;
}

.knowledgable {
  background-color: #cd7f32;
}

.novice {
  background-color: indigo;
}

.tool {
  text-align: center;
}

/* -------------Responsive Styles------------ */
.grid {
  display: grid;
  grid-template-columns: 1fr 1.75fr 1fr;
  gap: 10px;
  /* overflow: hidden; */
  /* border-radius: 1em; */
}

@media screen and (max-width: 425px) {
  .grid {
    display: block;
  }

  .languages {
    display: none;
  }

  .tools {
    display: none;
  }
}
